#component_3 {
    background-color: #333a46;
    width: 100px;
    height: 100px;
    position: sticky;
    left: 30px;
    top: 50%;
    color: #ffffff;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    text-align: center;
}