#googlemap {
    position: relative;
    width: 860px;
    height: 900px;
    background-color: #333A46;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}